.config/nvim/lazy-lock.json
.config/nvim/plugged/
.config/zsh/marlonrichert
.config/zsh/zsh-users
.config/tmux/plugins
.config/zsh/zhistory
.config/aichat/functions/
.config/aichat/sessions/
.config/aichat/rags/
*.so
*.zwc
.aider.*
